*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  display: block;
  position: absolute;
  background: transparent;
  border: none;
  outline-style: none;
  cursor: pointer;
}
.back-img {
  position: absolute;
  z-index: -1;
}
#user_name {
  position: absolute;
  top: 60px;
  left: 168px;
  font-size: 16px;
}
.to-box-btn, .right_btn {
  width: 30px;
  height: 30px;
  top: 55px;
}
.to-box-btn {
  left: 25px;
}
.right_btn{
  right: 25px;
}
.number-board {
  width: 183px;
  height: 171px;
  position: absolute;
  top: 310px;
  left: 140px;
}
.num-btn {
  width: 45px;
  height: 45px;
  margin: 5px 7px 5px 9px;
  background-color: bisque;
  border-radius: 50%;
  float: left;
}
.to-note-btn {
  width: 103px;
  height: 110px;
  top: 595px;
  left: 210px;
}